*{
    font-family:"Poppins", sans-serif;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 11;
  }
  
.loader--hidden {
    opacity: 0;
    visibility: hidden;
    
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
    z-index: 12;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
  


.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    background:rgb(0, 242, 255);
    
    
}

.card{
    width: 365px;
    border-radius: 20px;
    padding:27px 30px;
    border: solid 2px whitesmoke;
    padding-bottom: 40px;
    
    z-index: 10;

    background: rgba(255, 255, 255, 0.5);
    position: fixed;



}

.card h1{
    text-align: center;
}

.input{
    width: 100%;
    height: 65px;
    background: transparent;
    border-radius: 30px;
    border: solid 2px whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;

    


}

.input input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    padding-left: 25px;
    color: rgb(83, 83, 83);
    font-size: 19px;
}

.card .input input::placeholder{
    font-size: 17px;
}

button {
    cursor: pointer;
    transition: 0.4s;
    font-size: 19px;
    
}
button:hover{
    font-size: 18px;

}


button:active{
    background-color:grey;

}

.info{
    background: black;
    padding: 50vh 50px;
    z-index: 6;
}

.downArrow{
    text-align: center;
    color:rgb(0, 0, 0);
    height: 25px;
    z-index: 6;
}


.arrow{
    animation: moveUpDown 2s linear infinite;
    color: rgb(116, 116, 116);
    position: absolute;
    top:96%;
    z-index: 6;

}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-15px);
    }
    20%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-7px);
    }
    27%{
        transform: translateY(0px);
    }

}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
    background: rgba(5,8,104,255);

    z-index: 7;
}

.infoCard{
    width: 60vw;
    height: fit-content;
    border-radius: 70px;
    padding:27px 30px;
    border: solid 2px whitesmoke;
    background-color: white;
    color: rgba(5,8,104,255);
    z-index: 11;
}


.custom-shape-divider-top-1713266314 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    line-height: 0;
}




.wave2{
    position:absolute;
    z-index: 1;
    top: 40px;
    width: 200%;
    max-height: 100vh;
    overflow-x: hidden;

}

.wave4{
    position:absolute;
    z-index: 5;
    top:95px;
    width: 200%;
    max-height: 100vh;

}

.wave6{
    position:absolute;
    z-index: 6;
    top:150px;
    width: 200%;
    max-height: 100vh;
    /* transform: translate(-50%, -50%); */


}

.defaultpfp{
    position:absolute;
    width: 100px;
    border: solid 5px lightblue;
    border-radius: 5px;
    z-index: 13;
    overflow-x:hidden;
}
#pfp1{
    top:850px;
    left: 0px;
}
#pfp3{
    top:1100px;
    left: 0px;
}
#pfp5{
    top:1400px;
    left: 0px;
}
#pfp6{
    top:1700px;
    left: 0px;
}

#pfp2{
    top:1000px;
    left: 1400px;
}
#pfp4{
    top:1500px;
    left: 1400px;
}
/* #pfp7{
    top: 800x;
    left: 1400px;
} */

.job{

    position:absolute;
    width: 100px;
    border: solid 5px lightblue;
    border-radius: 5px;
    z-index: 14;
    overflow-x:hidden;

}
#job1{
    top:900px;
    left: 1400px;
}
#job2{
    top:1500px;
    left: 0px;
}
#job3{

    top:1000px;
    left: 1400px;
}