.nav-link.text-white:hover{
    background: rgba(12,110,253,255);

}

.testing:hover{
    background:rgba(12,110,253,255);
}

#job-card{
    margin-top:30px;

    border: grey solid 2px;
    border-radius: 20px;
}

#job-menu{
    margin-top: 3px;



    border: black  2px;
    border-radius: 20px;
    font-size:100px;
}
#job-menu2{
    margin-top: 3px;



    border: black  2px;
    border-radius: 20px;
    font-size:100px;
}

#job-info{

    border: black  2px;
    border-radius: 20px;
}

#job-button{
    height: 80px;
    margin-top: 5%;
    margin-right: 10px;
}

.opt1 {
    display: none;
  }

  #job-button {
    margin: 0;
  }
