:root {
  --midnight-blue: #293241;
  --tomato: #ee6c4d;
  --midnight-dust: #283845;
  --black: white;
  --white-smoke: #f4f2f2;
  --light-cyan: #e0fbfc;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: var(--midnight-blue);
  font-family: Work Sans, sans-serif;
  font-size: 20px;
  line-height: 32px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 600;
  line-height: 56px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Playfair Display, sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 48px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
  font-family: Playfair Display, sans-serif;
}

a {
  color: var(--tomato);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Playfair Display, sans-serif;
}

label {
  margin-bottom: 5px;
  font-weight: 400;
  display: block;
}

.section {
  padding: 60px 40px;
  position: relative;
}

.section.bg-yellow {
  background-color: #fffbf2;
}

.section.bg-dark-blue {
  background-color: var(--midnight-dust);
}

.container {
  z-index: 150;
  max-width: 1240px;
  position: relative;
}

.button {
  background-color: var(--tomato);
  color: var(--black);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: Playfair Display, sans-serif;
  text-decoration: none;
}

.button:hover {
  background-color: var(--midnight-dust);
}

.columns {
  justify-content: space-between;
  display: flex;
}

.info-block {
  border-left: 4px solid var(--white-smoke);
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-left: 20px;
}

.info-block.dark-bg {
  color: var(--black);
  border-left-color: rgba(244, 242, 242, .15);
}

.info-block.thanks {
  margin-bottom: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.grid-thanks {
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
  margin-bottom: 40px;
}

.bar-footer {
  background-color: var(--midnight-dust);
  color: var(--black);
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  display: block;
}

.bar-footer:hover {
  background-color: #0e1b25;
}

.link-top {
  font-size: 26px;
  line-height: 40px;
}

.logo-request {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.col-left {
  width: 30%;
}

.col-right {
  width: 65%;
}

.col-right.story-info {
  border-left: 4px solid var(--white-smoke);
  width: 70%;
  padding-bottom: 96px;
  padding-left: 32px;
  position: relative;
}

.italic {
  color: var(--tomato);
  font-family: Playfair Display, sans-serif;
  font-style: italic;
  font-weight: 600;
  display: block;
}

.italic.top {
  display: inline-block;
}

.highlight {
  background-color: var(--light-cyan);
  color: var(--midnight-blue);
}

.hero-text {
  width: 70%;
  margin-top: 40px;
}

.button-holder {
  display: none;
}

.profile-pic {
  border-radius: 10px;
  width: 100%;
}

.grid-whos-here {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 60px;
}

.grid-working-group {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 100px;
  margin-bottom: 60px;
}

.green-dot {
  background-color: #57d254;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.profile {
  position: relative;
}

.text-white {
  color: var(--black);
}

.mt-40 {
  margin-top: 40px;
}

.text-field {
  border-radius: 2px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 34px;
}

.text-field.textarea {
  height: 120px;
}

.success {
  background-color: var(--light-cyan);
  border-radius: 10px;
}

.error {
  background-color: var(--midnight-dust);
  color: var(--black);
  border-radius: 10px;
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.emoji-flex {
  background-color: var(--white-smoke);
  border-radius: 30px;
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  display: flex;
}

.dots-01-bg {
  background-image: url('../images/dots-bg-03.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  position: absolute;
  bottom: -130px;
  right: 0;
}

.dots-02-bg {
  z-index: 50;
  background-image: url('../images/dots-bg-02.svg');
  background-position: 0%;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: absolute;
  bottom: -100px;
  left: 0;
}

.emoji-wrapper {
  display: inline-block;
}

.emoji-icon {
  margin-right: 14px;
}

.emoji-text {
  color: #666;
}

.dots-03-bg {
  z-index: 50;
  background-image: url('../images/dots-bg-03.svg');
  background-position: 0%;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: absolute;
  bottom: -50px;
  left: 0;
}

.story-circle {
  background-color: var(--white-smoke);
  border-radius: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 32px;
  left: -14px;
}

.hide {
  display: none;
}

.nav_component {
  z-index: 999;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-menu {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .34);
}

.nav_toggle {
  background-color: rgba(0, 0, 0, 0);
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.nav_toggle.w--open {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
}

.link-wrapper {
  display: flex;
}

.icon-embed-custom {
  color: #fff;
  background-image: url('../images/Monochrome-image-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.5rem;
  display: flex;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.parallax_heading {
  color: #fff;
  text-align: center;
  letter-spacing: -.02em;
  text-shadow: 0 1px 3rem rgba(0, 0, 0, .52);
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: PT Sans, sans-serif;
  font-size: 8rem;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.parallax_info-link {
  color: #444;
  text-align: center;
  border-bottom: .1rem solid #444;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
}

.parallax_info-link:hover {
  opacity: .7;
}

.nav_container {
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
}

.nav_toggle-icon {
  filter: invert();
  width: 100%;
  height: 100%;
}

.main-wrapper {
  background-color: #fff;
}

.parallax_component {
  perspective: 3500px;
  overflow: hidden;
}

.parallax_layer {
  position: absolute;
}

.parallax_layer.is-4 {
  position: relative;
}

.stacking-cards_arrow-icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-top: .2rem;
  display: inline-block;
}

.section_space {
  z-index: 2;
  background-color: #fff;
  height: 100vh;
  padding-top: 3rem;
  position: relative;
}

.testimnoial-divider-img {
  width: 100%;
  display: block;
}

.wrapper-1245 {
  max-width: 1245px;
  margin-left: auto;
  margin-right: auto;
}

.footer-item-text {
  color: #52525b;
  font-size: 13px;
  line-height: 20px;
}

.testimonial-item-author-name-wrap {
  margin-bottom: 5px;
}

.img-full {
  width: 100%;
}

.wrapper-636 {
  text-align: center;
  max-width: 636px;
  margin-left: auto;
  margin-right: auto;
}

.content-1-block-img {
  width: 100%;
  max-width: 655px;
}

.footer-bottom-icon-wrap {
  text-align: center;
  background-color: #12141d;
  border: 1px solid #3f3f46;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  transition: all .3s;
  display: flex;
}

.footer-bottom-icon-wrap:hover {
  background-color: #2563eb;
}

.blog-item-title-wrap {
  width: 100%;
  max-width: 416px;
}

.testimonial-subtitle {
  color: rgba(255, 255, 255, .8);
  font-size: 18px;
  line-height: 28px;
}

.testimonial-title {
  color: #fff;
  text-align: center;
  font-size: 42px;
  line-height: 53px;
}

.form-title-wrapper {
  text-align: center;
  margin-bottom: 60px;
}

.hero-thumb-wrap {
  z-index: 1;
  width: 100%;
  max-width: 685px;
  position: relative;
}

.benefit-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 800;
}

.form-section-bg-shape2-wrap {
  z-index: -1;
  position: absolute;
  bottom: 53px;
  left: -471px;
  right: auto;
}

.testimonial-item-info-wrap {
  width: 100%;
  max-width: 330px;
  margin-bottom: 30px;
}

.testimonial-item-info-wrap._2 {
  max-width: 343px;
}

.hero-subtitle-wrap.header-content-top {
  margin-bottom: 15px;
}

.testimonial-item-info {
  color: #12141d;
  font-size: 18px;
  line-height: 28px;
}

.blog-heading {
  text-align: center;
  margin-bottom: 60px;
}

.footer-item-menu-link {
  color: #12141d;
  font-size: 13px;
  line-height: 38px;
  text-decoration: none;
  display: block;
}

.button-primary {
  background-color: #2b59ff;
  border-radius: 10px;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all .325s;
}

.button-primary:hover {
  background-color: #1e3eb1;
}

.nav-desktop {
  justify-content: space-between;
  align-items: center;
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.blog-item-date {
  color: #52525b;
  font-size: 14px;
  line-height: 22px;
}

.testimonial-item {
  z-index: 1;
  width: 100%;
  position: relative;
}

.menu-content {
  display: none;
}

.content-right-thumb-wrap._2 {
  text-align: left;
  position: relative;
  right: -55px;
}

.footer-item-title-wrap {
  margin-bottom: 22px;
}

.nav-desktop-left {
  align-items: center;
  display: flex;
}

.form-section {
  z-index: 1;
  background-color: #ffc947;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.footer-item-logo-wrap {
  margin-bottom: 31px;
}

.hero-layout {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.content-right-thumb {
  display: block;
}

.feature-content-title-wrap {
  margin-bottom: 10px;
}

.testimonial-subtitle-wrap {
  text-align: center;
  width: 100%;
  max-width: 340px;
  margin: 60px auto 52px;
}

.button-2-icon {
  margin-right: 10px;
}

.blog-item-title {
  color: #12141d;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
}

.form-section-form {
  width: 100%;
  max-width: 464px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-bottom-wrap {
  border-top: 1px solid #e4e4e7;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  display: flex;
}

.footer-btn-1-wrap {
  background-color: #2563eb;
  border-radius: 5px;
  padding: 10px 19.5px;
  display: inline-block;
}

.footer-item-title {
  color: #12141d;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.hero-form {
  z-index: 1;
  position: relative;
}

.form-input {
  color: #71717a;
  border-radius: 15px;
  height: 70px;
  margin-bottom: 0;
  padding: 19px 19px 19px 22px;
  font-size: 16px;
  line-height: 26px;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 26px;
}

.feature-head {
  margin-bottom: 84px;
  margin-left: auto;
  margin-right: auto;
}

.form-submit {
  color: #fff;
  background-color: #12141d;
  border-radius: 10px;
  padding: 12px 18.5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  position: absolute;
  top: 9px;
  bottom: auto;
  left: auto;
  right: 10px;
}

.navbar {
  z-index: 1000;
  padding: 23px 20px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.divider-top-img {
  width: 100%;
}

.hero-list-wrap {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  display: flex;
}

.feature-content-img-wrap {
  width: 100%;
  margin-bottom: 30px;
}

.content-left-title-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 800;
}

.feature-layout-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.content-left-text {
  color: rgba(18, 20, 29, .7);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.content-left-text.medium, .content-left-text.mb-20 {
  color: #12141d;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.content-left-text._440 {
  max-width: 440px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.hero-btn {
  color: #fff;
  background-color: #2b59ff;
  padding: 20.5px 59.5px;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.testimonial-item-thumb-wrap {
  margin-bottom: 30px;
}

.feature-section {
  z-index: 10;
  background-color: #fff;
  margin-bottom: -2px;
  position: relative;
}

.blog-content {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  display: flex;
}

.button-2 {
  color: #fff;
  background-color: #2b59ff;
  border-radius: 3px;
  padding: 16px 20px;
  font-weight: 500;
  line-height: 24px;
}

.hero-title-wrap {
  margin-bottom: 23px;
}

.hero-subtitle {
  color: rgba(18, 20, 29, .7);
  letter-spacing: -.5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.hero-subtitle.header-content-top-text {
  color: rgba(18, 20, 29, .7);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 500;
  line-height: 28px;
}

.hero-form-block {
  width: 100%;
  max-width: 526px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container-1296 {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-title-wrap {
  width: 100%;
  max-width: 583px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.content-left-title-wrap {
  width: 100%;
  max-width: 499px;
  margin-bottom: 30px;
}

.menu-mobile {
  display: none;
}

.para-large {
  color: #12141d;
  letter-spacing: -.5px;
  font-size: 18px;
  line-height: 32px;
}

.para-large.header-list-text {
  color: rgba(18, 20, 29, .6);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.content-divider {
  width: 100%;
}

.content-1-block {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.content-1-block-content {
  width: 100%;
  max-width: 465px;
}

.nav-desktop-logo {
  margin-right: 60px;
}

.content-1-section {
  background-color: #faf8f3;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
}

.container-1248 {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
}

.blog-section {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-divider {
  width: 100%;
}

.testimonial-item-author-sub {
  color: #52525b;
}

.testimonial-section {
  background-color: #2b59ff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.content-title {
  color: #12141d;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.hero-title {
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 84px;
}

.header-list-item {
  background-image: url('../images/header-list-icon.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 28px;
}

.header-list-item.last {
  margin-bottom: 0;
}

.content-right {
  text-align: right;
  width: 100%;
  max-width: 654px;
  position: relative;
}

.feature-title-wrap {
  text-align: center;
  width: 100%;
  max-width: 628px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 20px;
  position: relative;
}

.content-left-text-wrap-2 {
  width: 100%;
  max-width: 499px;
}

.footer-btn-1 {
  color: #fff;
  background-color: #2563eb;
  align-items: center;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.footer-top-layout {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 96px;
  display: flex;
}

.footer-bottom-text {
  color: #52525b;
  font-size: 13px;
  line-height: 20px;
}

.footer-section {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 38px;
}

.form-title-wrapper-text {
  color: #12141d;
  max-width: 446px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.testimonial-brand-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1174px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.content-layout {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  display: flex;
}

.feature-content {
  text-align: center;
  max-width: 360px;
}

.feature-content-subtitle {
  color: rgba(18, 20, 29, .7);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.feature-content-img {
  width: 100%;
}

.hero-form-input {
  color: #12141d;
  background-color: #fff;
  border-radius: 3px;
  height: 65px;
  margin-bottom: 0;
  padding: 20px 24px 18px;
  font-size: 18px;
  line-height: 28px;
}

.hero-form-input::placeholder {
  color: rgba(18, 20, 29, .5);
}

.nav-link {
  color: #12141d;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: all .25s;
  display: inline-block;
}

.nav-link:hover {
  opacity: .5;
}

.nav-link.log-in {
  margin-right: 6px;
}

.nav-link.log-in.hide-ipad {
  color: #12141d;
  font-weight: 500;
  line-height: 30px;
}

.blog-heading-title-wrap {
  text-align: center;
  width: 100%;
  max-width: 528px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-2 {
  width: 100%;
  max-width: 1297px;
  margin-left: auto;
  margin-right: auto;
}

.hero-thumb {
  position: relative;
  right: -60px;
}

.feature-item-border {
  background-color: #e4e4e7;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: -45px;
}

.blog-heading-title {
  font-size: 42px;
  line-height: 53px;
}

.testimonial-content {
  grid-column-gap: 90px;
  grid-row-gap: 90px;
  background-color: #fff;
  border-radius: 5px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 50px 45px;
  display: grid;
}

.testimonial-item-author-name {
  color: #12141d;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.form-section-bg-shape-wrap {
  z-index: -1;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.form {
  position: relative;
}

.content-left {
  width: 100%;
  max-width: 499px;
}

.feature-content-title {
  color: #12141d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
}

.container-1270 {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
}

.form-info-text {
  color: #12141d;
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 22px;
}

.footer-item-text-wrap {
  margin-bottom: 31px;
}

.newsletter-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 800;
}

.blog-heading-text-wrap {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.footer-item {
  color: #12141d;
}

.footer-item.footer-about {
  width: 100%;
  max-width: 281px;
}

.blog-item-date-wrap {
  margin-bottom: 15px;
}

.footer-bottom-icons-wrap {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 148px;
  display: flex;
}

.feature-content-subtitle-wrap {
  text-align: center;
  width: 100%;
  max-width: 274px;
  margin-left: auto;
  margin-right: auto;
}

.content-section-two {
  z-index: 1;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.nav-desktop-left-links {
  position: relative;
  top: 2px;
}

.blog-item-thumb-wrap {
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .grid-whos-here {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-working-group {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .dots-02-bg, .dots-03-bg {
    display: none;
  }

  .footer-item-text {
    max-width: 300px;
  }

  .content-1-block-img {
    order: 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 72px;
  }

  .form-title-wrapper {
    margin-bottom: 40px;
  }

  .hero-thumb-wrap {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-subtitle-wrap {
    max-width: 500px;
  }

  .hero-subtitle-wrap.header-content-top {
    margin-bottom: 15px;
  }

  .button-primary.nav-button-mobile {
    color: #2563eb;
    text-align: center;
    background-color: #f3f9fd;
    width: 100%;
    margin-top: 10px;
  }

  .menu-content {
    z-index: 100;
    background-color: #2563eb;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 300px;
    padding: 70px 30px 0;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .content-right-thumb-wrap {
    text-align: left;
  }

  .content-right-thumb-wrap._2 {
    right: -32px;
  }

  .form-section {
    padding-top: 130px;
    padding-bottom: 60px;
  }

  .hero-layout {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
  }

  .blog-item-title {
    font-size: 20px;
  }

  .form-section-form {
    max-width: 500px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .feature-head {
    margin-bottom: 40px;
  }

  .feature-layout-2 {
    grid-row-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-2.hide-ipad {
    display: none;
  }

  .hero-title-wrap {
    max-width: 500px;
    margin-bottom: 20px;
  }

  .hero-form-block {
    margin-top: 30px;
  }

  .menu-mobile {
    z-index: 1000;
    cursor: pointer;
    background-color: #2563eb;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    position: relative;
  }

  .content-1-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .content-1-block-content {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-desktop-logo {
    position: relative;
    top: -3px;
  }

  .blog-section, .testimonial-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 68px;
  }

  .header-list-item {
    margin-bottom: 0;
  }

  .div-block {
    border-top: 1px solid rgba(243, 249, 253, .25);
    margin-top: 20px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 10px 30px 25px;
  }

  .content-right {
    text-align: left;
    order: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-title-wrap {
    max-width: 800px;
  }

  .hero-section {
    padding-top: 110px;
    padding-bottom: 40px;
  }

  .footer-top-layout {
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  .footer-section {
    padding-top: 60px;
  }

  .menu-lottie {
    filter: invert();
    width: 30px;
    position: relative;
    top: 2px;
  }

  .form-title-wrapper-text {
    margin-top: 10px;
  }

  .testimonial-brand-wrap {
    grid-column-gap: 23px;
    grid-row-gap: 23px;
    flex-direction: column;
  }

  .content-layout {
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-content {
    width: 48%;
    max-width: none;
  }

  .nav-link {
    color: #f3f9fd;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0;
    display: block;
  }

  .nav-link.center-mobile {
    text-align: center;
  }

  .nav-link.log-in.hide-ipad {
    display: none;
  }

  .blog-heading-title-wrap {
    margin-bottom: 10px;
  }

  .hero-thumb {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    right: 0;
  }

  .feature-item-border {
    display: none;
  }

  .testimonial-content {
    grid-column-gap: 20px;
    grid-row-gap: 41px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .content-left {
    margin-left: auto;
    margin-right: auto;
  }

  .form-info-text {
    margin-bottom: 30px;
  }

  .footer-item-text-wrap {
    margin-bottom: 20px;
  }

  .footer-item.footer-about {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .content-section-two {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .nav-desktop-left-links.hide-ipad {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    z-index: 100;
    position: relative;
  }

  .columns {
    flex-direction: column;
  }

  .sticky {
    position: static;
  }

  .grid-thanks {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .col-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-right, .col-right.story-info, .hero-text {
    width: 100%;
  }

  .dots-03-bg {
    bottom: -100px;
  }

  .content-1-block-img {
    left: 15px;
  }

  .testimonial-title {
    font-size: 32px;
    line-height: 42px;
  }

  .form-title-wrapper {
    margin-bottom: 30px;
  }

  .benefit-title {
    font-size: 32px;
    line-height: 42px;
  }

  .hero-subtitle-wrap {
    max-width: 375px;
  }

  .testimonial-item {
    text-align: center;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-right-thumb-wrap._2 {
    right: -12px;
  }

  .form-section {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .feature-content-title-wrap {
    margin-bottom: 0;
  }

  .testimonial-subtitle-wrap {
    margin-bottom: 30px;
  }

  .feature-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-bottom-wrap {
    grid-column-gap: 19px;
    grid-row-gap: 19px;
    flex-flow: column wrap;
    align-items: flex-start;
    padding-top: 30px;
  }

  .feature-content-img-wrap {
    margin-bottom: 20px;
  }

  .content-left-title-2 {
    font-size: 32px;
    line-height: 42px;
  }

  .content-left-text.mb-20 {
    margin-bottom: 10px;
  }

  .blog-content {
    grid-row-gap: 50px;
    flex-wrap: wrap;
  }

  .hero-title-wrap {
    max-width: 406px;
  }

  .testimonial-title-wrap {
    max-width: 450px;
    margin-bottom: 40px;
  }

  .content-left-title-wrap {
    margin-bottom: 10px;
  }

  .content-1-section {
    padding-top: 50px;
  }

  .content-title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 42px;
  }

  .hero-title {
    font-size: 54px;
    line-height: 64px;
  }

  .footer-top-layout {
    padding-bottom: 50px;
  }

  .blog-item-thumb {
    width: 100%;
    display: block;
  }

  .content-layout {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .feature-content {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-heading-title-wrap {
    max-width: 400px;
  }

  .blog-heading-title {
    font-size: 32px;
    line-height: 42px;
  }

  .testimonial-content {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .form-section-bg-shape-wrap {
    z-index: 100;
    top: -7px;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .form-info-text {
    margin-bottom: 0;
  }

  .content-section-two {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 48px;
  }

  h2 {
    font-size: 26px;
    line-height: 40px;
  }

  .section {
    padding: 40px 20px;
  }

  .logo-request {
    flex-direction: column;
  }

  .hero-text {
    width: 100%;
  }

  .grid-whos-here {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-working-group {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .text-field.textarea {
    height: 240px;
  }

  .dots-03-bg {
    bottom: -200px;
  }

  .benefit-title {
    font-size: 30px;
  }

  .blog-heading {
    margin-bottom: 40px;
  }

  .content-right-thumb-wrap._2 {
    right: 0;
  }

  .form-section {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-layout {
    grid-column-gap: 51px;
    grid-row-gap: 51px;
  }

  .testimonial-subtitle-wrap {
    margin-top: 40px;
  }

  .footer-bottom-wrap {
    padding-top: 20px;
  }

  .form-input {
    height: 57px;
    margin-bottom: 10px;
  }

  .feature-head {
    margin-bottom: 40px;
  }

  .form-submit {
    width: 100%;
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    top: 0;
    right: 0;
  }

  .hero-list-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-layout-2 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .hero-btn {
    text-align: center;
    width: 100%;
    position: relative;
  }

  .blog-content {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .hero-title-wrap {
    margin-bottom: 14px;
  }

  .hero-subtitle {
    font-size: 18px;
  }

  .hero-form-block {
    margin-bottom: 25px;
  }

  .content-left-title-wrap {
    margin-bottom: 10px;
  }

  .para-large.header-list-text {
    font-size: 16px;
  }

  .content-divider {
    top: -4px;
  }

  .content-1-section {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .header-divider {
    margin-top: -3px;
  }

  .page-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-title {
    font-size: 42px;
    line-height: 52px;
  }

  .header-list-item {
    padding-left: 27px;
  }

  .hero-section {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .form-title-wrapper-text {
    max-width: 300px;
    margin-top: 5px;
  }

  .content-layout {
    padding-top: 0;
  }

  .feature-content {
    max-width: 100%;
  }

  .hero-form-input {
    margin-bottom: 5px;
  }

  .hero-thumb {
    width: 100%;
  }

  .blog-heading-title {
    font-size: 32px;
    line-height: 42px;
  }

  .form-section-bg-shape-wrap {
    top: -9px;
  }

  .feature-content-title {
    font-size: 1.25rem;
  }

  .newsletter-title {
    font-size: 32px;
    line-height: 42px;
  }

  .blog-item-date-wrap {
    margin-bottom: 10px;
  }

  .content-section-two {
    padding-bottom: 50px;
  }

  .blog-item-thumb-wrap {
    margin-bottom: 15px;
  }
}


