{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="border-bottom mb-4">Your Information</legend>

                {% if form.username %}
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        <small class="text-muted">Login via <a class="ml-2" href="{{ url_for('login', field='email') }}">email</a></small>

                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if form.email %}
                    <div>
                        {{ form.email.label(class="form-control-label") }}
                        <small class="text-muted">Login via <a class="ml-2" href="{{ url_for('login', field='username') }}">username</a></small>
                        
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
            <small class="text-muted">
                <a class="ml-2" href="#">Forgot Password?</a>
            </small>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a href="{{ url_for('register') }}" class="ml-2">Sign Up</a>
        </small>
    </div>
{% endblock content %}