*{
    font-family:"Poppins", sans-serif;
    margin:0;
    padding:0;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 11;
  }
  
.loader--hidden {
    opacity: 0;
    visibility: hidden;
    
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
    z-index: 12;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
  

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    background:rgb(0, 242, 255);
    
    
}

.card{
    width: 365px;
    border-radius: 20px;
    padding:27px 30px;
    border: solid 2px whitesmoke;
    padding-bottom: 40px;
    
    z-index: 10;

    background: rgba(255, 255, 255, 0.5);
    position: fixed;



}

.card h1{
    text-align: center;
}

.input{
    width: 100%;
    height: 50px;
    background: transparent;
    border-radius: 30px;
    border: solid 2px whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;


}

.input input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    padding-left: 25px;
    color: rgb(83, 83, 83);
    font-size: 19px;
}

.card .input input::placeholder{
    font-size: 17px;
}

button {
    cursor: pointer;
    transition: 0.4s;
    font-size: 19px;
    
}
button:hover{
    font-size: 18px;

}


button:active{
    background-color:grey;

}

.info{
    background: black;
    padding: 50vh 50px;
    z-index: 6;
}

.downArrow{
    text-align: center;
    color:rgb(0, 0, 0);
    height: 25px;
    z-index: 6;
}

/* .arrow{
    font-size: 40px;
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;


} */

.arrow{
    animation: moveUpDown 2s linear infinite;
    color: rgb(116, 116, 116);
    position: absolute;
    top:96%;
    z-index: 6;

}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-15px);
    }
    20%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-7px);
    }
    27%{
        transform: translateY(0px);
    }

}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background: rgba(5,8,104,255);
    z-index: 7;
}

.infoCard{
    width: 50vw;
    height:fit-content;
    border-radius: 70px;
    padding:27px 30px;
    border: solid 2px whitesmoke;
    background-color: white;
    color: darkgrey;
}


.custom-shape-divider-top-1713266314 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave1{
    /* Other styles */
    transition: transform 0.5s; /* Adjust duration as needed */
}
.wave2{
    /* Other styles */
    transition: transform 0.5s; /* Adjust duration as needed */
}

.wave4{
    transition: transform 1s;
}

.wave6{
    transition: transform 1.5s;
}


.wave1{
    position:absolute;
    z-index: 0;
    top:0px;
    width: 200vw;
    max-height: 100vh;
    
    /* background: rgb(8,244,252); */
}
.wave2{
    position:absolute;
    z-index: 1;
    top: 40px;
    width: 200vw;
    max-height: 100vh;
}
.wave3{
    position:absolute;
    z-index: 2;
    top:100px;
    width: 200vw;
    max-height: 100vh;
}
.wave4{
    position:absolute;
    z-index: 5;
    top:95px;
    width: 200vw;
    max-height: 100vh;
}
.wave5{
    position:absolute;
    z-index: 5;
    top:130px;
    width: 200vw;
    max-height: 100vh;
}
.wave6{
    position:absolute;
    z-index: 6;
    top:100px;
    width: 300vw;
    max-height: 100vh;
    transform: translate(-50%, -50%);

}




