{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/index/index.css">
{% endblock styles %}


{% block content %}

    <!-- Header div  -->
    <div class="container-fluid m-0 p-0" style="margin: 0; overflow: hidden">
        <div class="row m-3" style="height:20px;">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <div style="font-size:22px; font-weight:bold; color: #0400d6;">
                    SEEKERS WATER
                </div>
            </div>

              <!-- empty div for spacing -->
            <div class="col-8">
            </div>
              
            <div class="col d-flex justify-content-center align-items-center">
                <a id="getstartedbutton" class="btn btn-primary" style="position: absolute; z-index: 5 ; width: 80px;" href="{{ url_for('main.login') }}" role="button">Login</a>
            </div>

            <div class="col d-flex justify-content-center align-items-center">
                <a id="getstartedbutton" class="btn btn-primary" style="position: absolute; z-index: 5; width: 90px;" href="{{ url_for('main.register') }}" role="button">Register</a>
            </div>

        </div> 
    </div>

    <!-- Wave div -->
    <div class="wave"></div>

    <!-- Poster div -->
    <div class="container-fluid m-0 p-0">
        <div id="poster">
            <img id="f1" class="fish"  src="../static/index/postfishrev.png">
            <img id="f2" class="fish"  src="../static/index/postfishrev.png">
            <img id="f3" class="fish"  src="../static/index/postfishrev.png">
            <img id="f4" class="fish"  src="../static/index/postfishrev.png">
            <img id="f5" class="fish"  src="../static/index/postfish.png">
            <img id="f6" class="fish"  src="../static/index/postfish.png">
            <img id="f7" class="fish"  src="../static/index/postfish.png">
            <img id="f8" class="fish"  src="../static/index/postfish.png">
            <img id="user" src="../static/index/cast.png">
        </div>

        <div id="getstarted" class="row justify-content-center">
            <div class="col text-center">
                <a id="getstartedbutton" class="btn btn-primary" href="{{ url_for('main.register') }}" role="button">GET STARTED</a>
            </div>
        </div>
    </div>

    <!-- Arrow down div -->
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="arrow">
                V
            </div>
        </div>
    </div>
   

    <div class="info">
        <div class="profile-pictures">
            <img id="pfp1" class="defaultpfp" src="../static/defaultpfp.png">
            <img id="pfp2" class="defaultpfp" src="../static/defaultpfp.png">
            <img id="pfp3" class="defaultpfp" src="../static/defaultpfp.png">
            <img id="pfp4" class="defaultpfp" src="../static/defaultpfp.png">
        </div>

        <div class="job-posts">
            <img id="job1" class="job" src="../static/jobpost.png">
            <img id="job2" class="job" src="../static/jobpost.png">
            <img id="job3" class="job" src="../static/jobpost.png">
            <img id="job4" class="job" src="../static/jobpost.png">
        </div>

        <div class="row justify-content-center">
            <div class="col-8"> 
                <div class="infoCard">
                    <h4 class="infoCard-title">One account, endless opportunities.</h4>
                    <p class="infoCard-text">
                        Welcome to your one-stop platform for freelancing. Whether you're offering your skills or looking for someone skilled, we've got you covered.
                    </p>
                    <p class="infoCard-text">
                        Navigate the vast world of freelancing with us as your guide. The possibilities are endless.
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock content %}


{% block scripts %}
<script src="../static/index/indexanimation.js"></script>
{% endblock scripts %}
