{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/styles.css">
{% endblock styles %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 d-flex align-items-center justify-content-center">
                <div class="card">
                    <h1>Login</h1>
                    <form action="" method="post">
                        <fieldset>
                            {{ form.hidden_tag() }}
                            
                            <!-- username -->
                            {% if form.username %}
                                <div class="row justify-content-center" style="margin-top:20px;">
                                    {{ form.username.label(class="form-control-label") }}
                                    <small class="text-muted">Login via <a class="ml-2" href="{{ url_for('main.login', field='email') }}">email</a></small>
            
                                    {% if form.username.errors %}
                                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.username.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.username(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            {% endif %}

                            <!-- email -->
                            {% if form.email %}
                                <div class="row justify-content-center" style="margin-top:20px;">
                                    {{ form.email.label(class="form-control-label") }}
                                    <small class="text-muted">Login via <a class="ml-2" href="{{ url_for('main.login', field='username') }}">username</a></small>
                                    
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            
                            <!-- password -->
                            <div class="row justify-content-center" style="margin-top:20px;">
                                {{ form.password.label(class="form-control-label") }}
                    
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <!-- remember me -->
                            <div class="form-group">
                                
                                {{ form.remember_me.label(class="form-check-label") }}
                                {{ form.remember_me(class="form-check-input") }}
                            </div>

                            <!-- submit -->
                            <div class="row justify-content-center" style="margin-top:20px;">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                        </fieldset>
                    </form>
                    
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> <div class="d-flex justify-content-center mt-3">
                        <a href="{{ url_for('main.register') }}" class="btn btn-link">
                            <i class="fas fa-user-plus me-2"></i> Register
                        </a>
                        <a href="forgotPass.html" class="btn btn-link">
                            <i class="fas fa-key me-2"></i> Forgot password?
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

